$text-dark: rgb(57, 20, 0);
$text-dark-gray: rgba(57, 20, 0, 0.64);

.container {
    width: 1170px;
    margin: 0 auto;
}

.title {
    background-color: #28293E;
    color: white;
    padding: 84px 0 66px 0;
}

.title__inner {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.h1 {
    font-size: 4.5rem;
    font-weight: bolder;
    line-height: 5rem;
}

.text {
    font-size: 1rem;
    line-height: 2rem;
}

.text-small {
    font-size: 0.88rem;
    line-height: 1.5rem;
}

.main-title {
    text-align: center;
    color: white;
}

.sub-title {
    text-align: center;
    color: lightgray;
}

.content {
    height: 100%;
    min-height: calc(100vh - 400px);
    background-color: #FDF0E9;
}

.filter {
    padding: 68px 0;
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

.filter__item {
    @extend .text;
    color: $text-dark-gray;
}

.filter__item--active {
    @extend .text;
    color: $text-dark;
}

.item-counter {
    @extend .text-small;
    vertical-align: 50%;
}

button {
    border: none;
    background-color: transparent;
}
