.container {
    width: 1170px;
    margin: 0 auto;
}

.title {
    background-color: #28293E;
    color: white;
    padding: 84px 0 66px 0;
}

.title__inner {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.h1 {
    font-size: 4.5rem;
    font-weight: bolder;
    line-height: 5rem;
}

.h3 {
    font-size: 1rem;
    line-height: 2rem;
}

.main-title {
    text-align: center;
    color: white;
}

.sub-title {
    text-align: center;
    color: lightgray;
}
