$text-dark: rgb(56, 20, 0);
$text-dark-gray: rgba(57, 20, 0, 0.64);
$accent: #EF6D58;

.container {
    width: 1170px;
    margin: 0 auto;
}

.title {
    background-color: #28293E;
    color: white;
    padding: 84px 0 66px 0;
}

.title__inner {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.h1 {
    font-size: 4.5rem;
    font-weight: bolder;
    line-height: 5rem;
}

.text {
    font-size: 1rem;
    line-height: 2rem;
}

.text-small {
    font-size: 0.88rem;
    line-height: 1.5rem;
}

.main-title {
    text-align: center;
    color: white;
}

.sub-title {
    font-weight: 400;
    text-align: center;
    color: lightgray;
}

.content {
    min-height: calc(100vh - 400px);
    background-color: #FDF0E9;
    padding: 68px 0;

    section + section {
        padding-top: 112px;
    }
}

.portfolio {
    scroll-margin-top: 64px;
}

.cards-filter {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin-bottom: 68px;
}

.filter__btn {
    @extend .text;
    color: $text-dark-gray;
    border-bottom: 2px solid transparent;

    &:hover {
        color: $accent;
    }

    &:focus {
        border-color: $text-dark-gray;
    }

    &:active {
        color: $accent;
        border-color: $accent;
    }

}

.filter__btn--active {
    @extend .text;
    color: $text-dark;
}

.item-counter {
    @extend .text-small;
    vertical-align: 50%;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 32px;
    margin-bottom: 80px;
}

.card {
    position: relative;
    background-image: url(https://cataas.com/cat/cute);
    background-size: cover;
    height: 416px;
    overflow: hidden;
    border-radius: 6px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #5C2000;
        opacity: 0.3;
        z-index: 1;
    }

    &:hover {
        .card__info {
            top: 10px;
        }

        .info__tags { 
            display: none;
        }

        .card__details {
            transform: translateY(0);
        }
    }
}

.card__info {
    position: absolute;
    top: 256px;
    right: 0;
    left: 0;
    padding: 0 48px;
    z-index: 2;
    transition: 0.5s;
}

.info__tags {
    margin-bottom: 23px;
    display: flex;
    gap: 10px;

    li {
        padding: 3px 16px;
        border-radius: 40px;
        background-color: white;
        color: $text-dark;
        @extend .text;
        font-weight: 500;
    }
}

.info__title {
    text-shadow: 1.5px 1.5px $text-dark;
    font-size: 40px;
    line-height: 48px;
    font-weight: bolder;
    color: white;
}


.card__details {
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #28293E;  
    z-index: 3;
    transition: 0.5s;
    transform: translateY(100%);
    padding: 16px;

    color: white;
    line-height: 1.5;

    p + p {
        margin-top: 16px;
    }
}

ul {
    list-style-type: none;
}

.cards-pagination {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 17px 43px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    background-color: #fff;
    color: #391400;
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);

    &:hover {
        box-shadow: 0 3px 9px 0 $accent;
    }

    &--special:hover {
        box-shadow: 0 3px 9px 0 #391400;
    }

    &:focus {
        outline: 2px solid $text-dark;
    }

    &:active {
        transform: translateY(5%);
        background-color: $accent;
        color: white;
        outline: none;
    }

    &--special:active {
        outline: 2px solid white;
    }
}

.about {}

.about-inner {
    padding: 41px 100px 71px;
    background-color: $accent;
    border-radius: 6px;
    display: flex;
    column-gap: 56px;
}

.about__left {
    padding-top: 55px;
    flex-grow: 1;
    color: white;

    .h2 {
        margin-bottom: 0.5em;
    }

    p {
        margin-bottom: 34px;
        @extend .text;
        opacity: 0.64;
    }
}

.h2 {
    font-size: 56px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -1px;
}

.about__right {
    position: relative;
    width: 430px;
    aspect-ratio: 1;
    flex-shrink: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-rect {
    position: absolute;
    left: 14px;
    bottom: 104px;
    z-index: 3;
}

.img-star {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.img-circle {
    position: absolute;
    bottom: 0;
    left: 70px;
    z-index: 1;

    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.img-photo {
    position: absolute;
    right: 0;
    bottom: 69px;
    background-color: #F7CC47;
    border-radius: 200px 200px 14px 14px;
    overflow: hidden;
    z-index: 2;

    img {
        transform: translateY(25px)
    }
}

@keyframes rotate {
    to{
        transform: rotate(-360deg);
    }
}

.footer {
    background-color: #28293E;
    color: white;

    &__inner {
        padding-block: 43px;
    }
}

.social-block {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;

    a {
        width: 48px;
        height: 48px;
        font-size: 24px;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: $accent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        svg {
            transition: 0.3s;
        }

        &:hover {
            background-color: white;

            svg {
                fill: $accent;
            }
        }
    }
}

